<h1>Hola <%= current_user.name %> <%= current_user.id%></h1>

<% if @my_activities.count > 0  %>
	<h3>Tus actividades con solicitudes de participación</h3>
	<%= render @my_activities %>

<% else %>
	<h3>No has creado actividades que hacer :'( </h3>
<% end %>


